In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_1 = pd.read_csv(r"C:\Users\Kanishk Goyal\OneDrive - IIT Kanpur\Desktop\Prof. Hamim Zafar\Data\Regridding Data\Karnataka\Chickpea\stl4_97-23_12.csv")
df_2 = pd.read_csv(r"C:\Users\Kanishk Goyal\OneDrive - IIT Kanpur\Desktop\Prof. Hamim Zafar\Data\Regridding Data\Karnataka\Chickpea\stl4_97-23_except_12.csv")
# df_3 = pd.read_csv(r"C:\Users\Kanishk Goyal\OneDrive - IIT Kanpur\Desktop\Prof. Hamim Zafar\Data\Regridding Data\Karnataka\Chickpea\Sent by Harshita\ssr_97-22_karnataka.csv")

In [3]:
df_1 = df_1.drop(columns=['Unnamed: 0'])
df_2 = df_2.drop(columns=['Unnamed: 0'])
# df_3 = df_3.drop(columns=['Unnamed: 0'])

In [4]:
df_2

,latitude,longitude,year,stl4_1,stl4_2,stl4_3,stl4_4,stl4_11
0,11.953704,77.091779,1997,22.209486,22.139558,22.824291,23.807016,24.604338
1,11.953704,77.091779,1998,23.618353,23.762419,24.646465,25.963099,24.237034
2,11.953704,77.091779,1999,22.992253,22.886889,23.506700,24.750868,24.109575
3,11.953704,77.091779,2000,22.807545,22.975611,23.518511,24.626575,24.059038
4,11.953704,77.091779,2001,23.052698,23.381277,24.282589,25.291437,24.307437
...,...,...,...,...,...,...,...,...
805,17.952943,77.227039,2019,26.055655,25.688153,26.391807,28.009748,26.772585
806,17.952943,77.227039,2020,25.311860,25.189122,25.713678,27.002402,26.206439
807,17.952943,77.227039,2021,25.468563,25.568300,26.087531,27.420847,26.200270
808,17.952943,77.227039,2022,25.337760,24.961144,25.615285,27.221703,25.985002
809,17.952943,77.227039,2023,25.161730,25.133678,25.746929,26.596577,26.696733

In [5]:
df_1.shape

(810, 4)

In [6]:
df_2.shape

(810, 8)

In [7]:
df_1 = df_1[df_1['year'] != 2023]
df_2 = df_2[df_2['year'] != 2023]

In [8]:
df_1.shape

(780, 4)

In [9]:
df_2.shape

(780, 8)

In [10]:
df_1 = df_1.sort_values(by=['latitude','longitude','year'])
df_2 = df_2.sort_values(by=['latitude','longitude','year'])
# df_3 = df_3.sort_values(by=['latitude','longitude','year'])
df_1 = df_1.reset_index(drop=True)
df_2 = df_2.reset_index(drop=True)
# df_3 = df_3.reset_index(drop=True)

In [11]:
# df_2 = df_2.drop(columns=['latitude','longitude','year'])
df_1 = df_1.drop(columns=['latitude','longitude','year'])

In [12]:
df = pd.concat([df_2,df_1],axis=1)

In [13]:
df

,latitude,longitude,year,stl4_1,stl4_2,stl4_3,stl4_4,stl4_11,stl4_12
0,11.953704,77.091779,1997,22.209486,22.139558,22.824291,23.807016,24.604338,24.095321
1,11.953704,77.091779,1998,23.618353,23.762419,24.646465,25.963099,24.237034,23.654057
2,11.953704,77.091779,1999,22.992253,22.886889,23.506700,24.750868,24.109575,23.344908
3,11.953704,77.091779,2000,22.807545,22.975611,23.518511,24.626575,24.059038,23.558527
4,11.953704,77.091779,2001,23.052698,23.381277,24.282589,25.291437,24.307437,23.699161
...,...,...,...,...,...,...,...,...,...
775,17.952943,77.227039,2018,25.336020,25.185047,25.792662,27.176451,27.063908,26.811599
776,17.952943,77.227039,2019,26.055655,25.688153,26.391807,28.009748,26.772585,26.020384
777,17.952943,77.227039,2020,25.311860,25.189122,25.713678,27.002402,26.206439,25.792856
778,17.952943,77.227039,2021,25.468563,25.568300,26.087531,27.420847,26.200270,25.867616
779,17.952943,77.227039,2022,25.337760,24.961144,25.615285,27.221703,25.985002,25.439874

In [14]:
df.to_csv(r"C:\Users\Kanishk Goyal\OneDrive - IIT Kanpur\Desktop\Prof. Hamim Zafar\Data\Regridding Data\Karnataka\Chickpea\stl4_97-22.csv")